<!-- Button trigger modal -->
<button type="button" class="m-1 btn btn-light btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addclick()"
data-backdrop="static" data-keyboard="false"
>
    Ajouter un cours
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{modaltitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"></button>
        </div>
        <div class="modal-body">
            <app-add-edit-courses [courses]="courses" [exercisesList]="exercisesList" [exercises]="exercisesList[courses.exercises_id-1]" [themesList]="themesList" [themes]="themesList[courses.themes_id-1]"[languagesList]="languagesList" [languages]="languagesList[courses.languages_id-1]"*ngIf="activateEditCoursesComp"></app-add-edit-courses>
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>

                courses id</th>
            <th>
                <div class="d-flex flex-row">
                    <input [(ngModel)]="coursesName" class="form-control"
                    (keyup)="filterCourses()" placeholder="Filter">    
                  </div>
                  cours name</th>
                <th>
                    <div class="d-flex flex-row">
                        <input [(ngModel)]="coursesPaid" class="form-control"
                        (keyup)="filterCourses()" placeholder="Filter">    
                      </div>
                    paid</th>
                    <th>
                      <div class="d-flex flex-row">
                          <input [(ngModel)]="exercisesName" class="form-control"
                          (keyup)="filterCourses()" placeholder="Filter">    
                        </div>
                        exercises name</th>
                        <th>
                          <div class="d-flex flex-row">
                              <input [(ngModel)]="exercisesDifficultyLevel" class="form-control"
                              (keyup)="filterCourses()" placeholder="Filter">    
                            </div>
                            difficulty level</th>
                            <th>
                              <div class="d-flex flex-row">
                                  <input [(ngModel)]="themesName" class="form-control"
                                  (keyup)="filterCourses()" placeholder="Filter">    
                                </div>
                                themes name</th>
                                <th>
                                  <div class="d-flex flex-row">
                                      <input [(ngModel)]="languagesName" class="form-control"
                                      (keyup)="filterCourses()" placeholder="Filter">    
                                    </div>
                                    languages name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of coursesList">
            <td>{{dataItem.courses_id}}</td>
                <td>{{dataItem.name}}</td>
                    <td> {{dataItem.paid}}</td>
                    <td> {{exercisesList[dataItem.exercises_id-1].name}}</td>
                    <td> {{exercisesList[dataItem.exercises_id-1].difficulty_level}}</td>
                    <td> {{themesList[dataItem.themes_id-1].name}}</td>
                    <td> {{languagesList[dataItem.languages_id-1].name}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="editclick(dataItem)"
                data-backdrop="static" data-keyboard="false">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </button>
                <button type="button" class="btn btn-light mr-1"
                (click)="deleteClick(dataItem)">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
