<div class="form-froup row">


</div>

<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label">themes name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="name"
            placeholder="Enter themes name">
        </div>
        
    </div>
</div>



<button (click)="addThemes()" *ngIf="themes.themes_id==0" class="btn btn-primary">
    Ajouter
</button>

<button (click)="updateThemes()" *ngIf="themes.themes_id!=0" class="btn btn-primary">
    Modifier
</button>

