
<form>
    <label>
      Email:
      <input type="email" [(ngModel)]="email" name="email">
    </label>
    <br>
    <label>
      Mot de passe:
      <input type="password" [(ngModel)]="password" name="password">
    </label>
    <br>
    <button (click)="validate()">Se connecter</button>
    <div *ngIf="messageErreur">
      {{messageErreur}}
    </div>
  </form>