<div class="form-froup row">


</div>

<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label">exercises name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="name"
            placeholder="Enter exercises name">
        </div>

        <label class="col-sm-2 col-form-label">difficulty level</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="difficulty_level"
            placeholder="Enter difficulty level">
        </div>
        
    </div>
</div>



<button (click)="addExercises()" *ngIf="exercises.exercises_id==0" class="btn btn-primary">
    Ajouter
</button>

<button (click)="updateExercises()" *ngIf="exercises.exercises_id!=0" class="btn btn-primary">
    Modifier
</button>

