<div class="form-froup row">


</div>

<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row">
    
        <label class="col-sm-2 col-form-label">name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="name"
            placeholder="Enter courses name">
        </div>
        <label class="col-sm-2 col-form-label">paid</label>
        <div class="col-sm-10">
            <select [(ngModel)]="paid" name="paid">
                <option *ngFor="let option of paidOptions" [ngValue]="option.value">{{ option.name }}</option>
              </select>

    
    </div>
    <label class="col-sm-2 col-form-label">exercises name</label>
    <div class="col-sm-10">
        <select [(ngModel)]="exercises_id" name="exercises_id">
            <option *ngFor="let option of exercisesList" [ngValue]="option.exercises_id">{{ option.name }}</option>
          </select>
    </div>
    <label class="col-sm-2 col-form-label">themes name</label>
    <div class="col-sm-10">
        <select [(ngModel)]="themes_id" name="themes_id">
            <option *ngFor="let option of themesList" [ngValue]="option.themes_id">{{ option.name }}</option>
          </select>
    </div>
    <label class="col-sm-2 col-form-label">languages name</label>
    <div class="col-sm-10">
        <select [(ngModel)]="languages_id" name="languages_id">
            <option *ngFor="let option of languagesList" [ngValue]="option.languages_id">{{ option.name }}</option>
          </select>
    </div>



<button type="submit" (click)="addCourses()" *ngIf="courses.courses_id==0" class="btn btn-primary">
    Ajouter
</button>

<button (click)="updateCourses()" *ngIf="courses.courses_id!=0" class="btn btn-primary">
    Modifier
</button>


