<div class="form-froup row">


</div>

<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label">first name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="first_name"
            placeholder="Enter first users name">
        </div>
        <label class="col-sm-2 col-form-label">last name</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="last_name"
        placeholder="Enter last users name">
    </div>
        <label class="col-sm-2 col-form-label">email</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="email"
        placeholder="Enter email users name">
    </div>
        <label class="col-sm-2 col-form-label">password</label>
        <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="password"
        placeholder="Enter password users name">
    </div>
    
    </div>
    <div class="ml-3 bd-highlight" style="width: 40%;">
    <img [src]=photo_file_path height="250px;" width="200px;">
    <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
    </div>
    </div>



<button (click)="addUsers()" *ngIf="users.users_id==0" class="btn btn-primary">
    Ajouter
</button>

<button (click)="updateUsers()" *ngIf="users.users_id!=0" class="btn btn-primary">
    Modifier
</button>
