    <div>
   <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <h3  class="w3-bar-item">{{messageUtilisateur}}</h3>
        
        <div >
        <a  (click)="showsScreen('user')" *ngIf="verificationAdmin==='true'"  class="w3-bar-item w3-button"> liste des utilisateurs</a>
    </div>
        <a  (click)="showsScreen('courses')" class="w3-bar-item w3-button">liste des cours</a>
        <a  (click)="showsScreen('exercises')" *ngIf="verificationAdmin==='true'"  class="w3-bar-item w3-button"> liste des exercices</a>
        <a  (click)="showsScreen('themes')" *ngIf="verificationAdmin==='true'"  class="w3-bar-item w3-button"> liste des themes</a>
        <button type="button"  class="btn btn-light mr-1"
        (click)="logout()"
        data-keyboard="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
          <path d="M7.5 1v7h1V1h-1z"/>
          <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
        </svg>
        </button>

      </div>
      <div class="show">
      <app-show-user *ngIf="user"></app-show-user>
      <app-show-courses *ngIf="courses"></app-show-courses>
      <app-show-exercises *ngIf="exercises"></app-show-exercises>
      <app-show-themes *ngIf="themes"></app-show-themes>
    </div>
</div>